html {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--text-color);
  line-height: var(--font-lineheight);
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  margin:0;
}

input[readonly] {
  cursor: default;
}
a {
  text-decoration: none;
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
}

@media only screen and (min-width: 768px) {
  section {
    & > * {
      margin: auto;
      max-width: 95%;
      width: var(--main-width);
    }
  }
}

@media only screen and (max-width: 768px) {
  section {
    & > * {
      margin: auto;
      max-width: 95%;
    }
  }
}
