

/* @media (prefers-color-scheme: dark) { */
:root {
  --font-family: sans-serif;
  --font-lineheight: 1.5em;

  --primary-color: #49d5ff;
  --secondary-color: #1e90ff;

  --text-color: #383838;
  --active-text-color: #fff;
  --disabled-text-color: #686868;

  --background-color: #fff;
  --active-background-color: #fff;
  --disabled-background-color: #ececec;


  
  --text-color: #383838;
  --text-active-color: #383838;
  --text-disabled-color: #c8c8c8;
  --text-placeholder-color: #999;
  
  --text-secondary-color: #383838;
  --text-secondary-active-color: #383838;
  --text-secondary-disabled-color: #686868;

  --bg-color: #fff;
  --bg-active-color: #1e90ff;
  --bg-disabled-color: #ececec;

  --border-color: #cdcdcd;
  --border-active-color: #1e90ff;
  --border-shadow-active-color: #1e90ff68;
  --border-disabled-color: #e8e8e8;
  
  --border-radius: 0.15rem;

  --link-color: #0000ef;
}