
:root {
  --main-width: 1240px;
  --font-family: sans-serif;
  --font-lineheight: 1.5em;

  --primary-color: #49d5ff;
  --secondary-color: #1e90ff;

  --text-color: #383838;
  --active-text-color: #fff;
  --disabled-text-color: #686868;

  --background-color: #fff;
  --active-background-color: #fff;
  --disabled-background-color: #ececec;
  
  --text-color: #383838;
  --text-active-color: #383838;
  --text-disabled-color: #c8c8c8;
  --text-placeholder-color: #999;
  
  --text-secondary-color: #383838;
  --text-secondary-active-color: #383838;
  --text-secondary-disabled-color: #686868;

  --bg-color: #fff;
  --bg-active-color: #1e90ff;
  --bg-disabled-color: #ececec;

  --border-color: #cdcdcd;
  --border-active-color: #1e90ff;
  --border-shadow-active-color: #1e90ff68;
  --border-disabled-color: #e8e8e8;
  
  --border-radius: 0.15rem;

  
  --table-border-color: #e8e8e8;
  --table-header-bg: #f3f3f3;
  --table-header-weight: 400;

  --link-color: #0000ef;

  --shimmer-background: #f6f7f8;
  --shimmer-background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  --range-background: #cdcdcd;
  --range-node-background: var(--primary-color);
  --range-bar-background: var(--primary-color);
  
  --progress-background: #E9ECF0;
  --progress-bar-background: var(--primary-color);
  --progress-value-color: #fff;

  --input-error-border-color: red;
}

html[data-theme="dark"] {
  --primary-color: #49d5ff;
  --secondary-color: #1e90ff;

  --text-color: #383838;
  --active-text-color: #fff;
  --disabled-text-color: #686868;

  --background-color: #fff;
  --active-background-color: #fff;
  --disabled-background-color: #ececec;
  
  --text-color: #383838;
  --text-active-color: #383838;
  --text-disabled-color: #c8c8c8;
  --text-placeholder-color: #999;
  
  --text-secondary-color: #383838;
  --text-secondary-active-color: #383838;
  --text-secondary-disabled-color: #686868;

  --bg-color: #fff;
  --bg-active-color: #1e90ff;
  --bg-disabled-color: #ececec;

  --border-color: #cdcdcd;
  --border-active-color: #1e90ff;
  --border-shadow-active-color: #1e90ff68;
  --border-disabled-color: #e8e8e8;
  
  --border-radius: 0.15rem;

  
  --table-border-color: #e8e8e8;
  --table-header-bg: #f3f3f3;
  --table-header-weight: 400;

  --link-color: #0000ef;

  --shimmer-background:  #3a3a3a;
  --shimmer-background-image: linear-gradient(to right, #3a3a3a 0%, #3f3f3f 10%, #4a4a4a 20%, #3f3f3f 30%, #3a3a3a 50%, #3a3a3a 100%);

  --progress-background: #E9ECF0;
  --progress-bar-background: var(--primary-color);
  --progress-value-color: #fff;
}