/* @import '../../css/variables.css'; */

.sezy-select {
  & {
    position: relative;
    user-select: none;
    box-sizing: border-box;
  }
  & > .sezy-list {
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
    background: #fff;
    z-index: 500;
    min-width: 100%;
    visibility: hidden;
    border-top: none;
    max-height: 0;
    overflow: hidden;
  }
  & > .sezy-list > * {
    white-space: nowrap;
    cursor: pointer;
  }
  & > .sezy-list > *:hover {
    background-color: #00000018;
  }
  & > *:first-child .sezy-input {
    /* pointer-events: none; */
  }
}

.sezy-select-active > .sezy-list {
  visibility: visible;
  max-height: 1000px;
  transition: max-height 1s ease-in-out;
}


.sezy-select-outline {
  & > .sezy-select-button {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  &:hover > .sezy-select-button {
    border: 1px solid 0px 0px 0px 1px var(--border-active-color);
    box-shadow: 0px 0px 2px 1px var(--border-shadow-active-color);
    z-index: 1;
  }
}
.sezy-select-flat {
  & > .sezy-select-button {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--border-color);
  }
  &:hover > .sezy-select-button {
    /* background-color: var(--bg-active-color); */
    border: 1px solid var(--border-active-color);
    color: var(--button-active-text-color);
    box-shadow: 0px 0px 2px 1px var(--border-shadow-active-color);
    z-index: 1;
  }
}

/* Size */
.sezy-select-s {
}
.sezy-select-m {
}
.sezy-select-l {
}

.sezy-select > .sezy-list {
  position: absolute;
}
.sezy-select-placement- {
  &t > .sezy-list {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  &tr > .sezy-list {
    top: 0;
    right: 0;
    transform: translate(0, -100%);
  }
  &tl > .sezy-list {
    top: 0;
    left: 0%;
    transform: translate(0, -100%);
  }
  &r > .sezy-list {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
  }
  &rt > .sezy-list {
    top: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &rb > .sezy-list {
    bottom: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &b > .sezy-list {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  &br > .sezy-list {
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
  }
  &bl > .sezy-list {
    left: 0;
    right: 0;
    transform: translate(0, 100%);
  }
  &l > .sezy-list {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
  }
  &lt > .sezy-list {
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
  &lb > .sezy-list {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
}