.sezy-select {
  & {
    position: relative;
    user-select: none;
    box-sizing: border-box;
  }
  /* & > *:first-child {
    background-color: inherit;
    border-radius: inherit;
  } */
  & > *:first-child > div {
    & {
      overflow: hidden;
      display: flex;
      align-items: center;
    }
    & > div {
      display: flex;
      align-items: center;
    }
  }
}
.sezy-select-options-wrapper {
  position: absolute;
  z-index: 500;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e8e8e8;
  height: 0;
  box-shadow: 0 4px 8px rgb(55 66 77 / 20%);
}
.sezy-select-options-search > *:first-child {
  display: none;
  margin: 0.2rem 0;
}
.sezy-select-options {
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  background: #fff;
  min-width: 100%;
  visibility: hidden;
  max-height: 0;
  overflow: hidden auto;
  height: 0;
  overscroll-behavior: contain;
}
.sezy-select-options > * {
  white-space: nowrap;
  cursor: pointer;
}
.sezy-select-options > *:hover {
  background-color: #0000000d;
}

@keyframes delay-overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: hidden auto;
  }
}
.sezy-select-active .sezy-select-options-wrapper {
  height: auto;
}
.sezy-select-active .sezy-select-options {
  visibility: visible;
  max-height: 20rem;
  /* animation: 1.8s delay-overflow;
  animation-fill-mode: forwards; */
  transition: max-height 0.2s ease-in-out;
  height: auto;
}
.sezy-select-active .sezy-select-options-search > *:first-child {
  display: block;
}

.sezy-select-tags {
  white-space: nowrap;
  overflow: auto hidden;
}

.sezy-select-tags > * {
  margin-right: 0.2rem;
}

/* Size */
.sezy-select-s {
  & .sezy-select-checkbox {
    margin-right: 0.5rem;
  }
}
.sezy-select-m {
  & .sezy-select-checkbox {
    margin-right: 0.6rem;
  }
}
.sezy-select-l {
  & .sezy-select-checkbox {
    margin-right: 0.7rem;
  }
}

.sezy-select-placement- {
  &t > *:last-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  &tr > *:last-child {
    top: 0;
    right: 0;
    transform: translate(0, -100%);
  }
  &tl > *:last-child {
    top: 0;
    left: 0%;
    transform: translate(0, -100%);
  }
  &r > *:last-child {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
  }
  &rt > *:last-child {
    top: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &rb > *:last-child {
    bottom: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &b > *:last-child {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  &br > *:last-child {
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
  }
  &bl > *:last-child {
    left: 0;
    right: 0;
    transform: translate(0, 100%);
  }
  &l > *:last-child {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
  }
  &lt > *:last-child {
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
  &lb > *:last-child {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
}
