
.sezy-pagination {
  & > svg {
    cursor: pointer;
  }
  & > button {
    user-select: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.sezy-pagination-outline {
  & {
    /* border: 1px solid var(--border-color); */
    box-sizing: border-box;
  }
}
.sezy-pagination-flat {
  & {
    box-sizing: border-box;
  }
}

/* Size */
.sezy-pagination-s {
  &>button{
    margin: 0 0.1rem;
    width: 2.4rem;
  }
  &>.sezy-pagination-2prev,&>.sezy-pagination-prev{
    margin-right:0.5rem;
  }
  &>.sezy-pagination-next,&>.sezy-pagination-2next{
    margin-left:0.5rem;
  }
}
.sezy-pagination-m {
  &>button{
    margin: 0 0.1rem;
    width: 3.2rem;
  }
  &>.sezy-pagination-2prev,&>.sezy-pagination-prev{
    margin-right:0.5rem;
  }
  &>.sezy-pagination-next,&>.sezy-pagination-2next{
    margin-left:0.5rem;
  }
}
.sezy-pagination-l {
  &>button{
    margin: 0 0.1rem;
    width: 4rem;
  }
  &>.sezy-pagination-2prev,&>.sezy-pagination-prev{
    margin-right:1.3rem;
  }
  &>.sezy-pagination-next,&>.sezy-pagination-2next{
    margin-left:1.3rem;
  }
}