
.sezy-link {
  & {
    color: var(--link-color);
  }
  & > svg {
    fill: var(--link-color);
  }
  &:hover {
  }
}

/* Size */
.sezy-link-s {
  & {
    font-size: 0.875rem;
  }
  & > svg {
    margin-right: 0.1rem;
  }
}
.sezy-link-m {
  & {
    font-size: 1rem;
  }
  & > svg {
    margin-right: 0.2rem;
  }
}
.sezy-link-l {
  & {
    font-size: 1.125rem;
  }
  & > svg {
    margin-right: 0.3rem;
  }
}
