.sezy-label {
  & {
    display: inline-block;
    color: var(--text-color);
  }
  & > svg {
    fill: var(--text-color);
  }
}

/* Size */
.sezy-label-s {
  & {
    font-size: 1.4rem;
  }
  & > svg {
    margin-right: 0.15rem;
  }
}
.sezy-label-m {
  & {
    font-size: 1.6rem;
  }
  & > svg {
    margin-right: 0.3rem;
  }
}
.sezy-label-l {
  & {
    font-size: 1.8rem;
  }
  & > svg {
    margin-right: 0.5rem;
  }
}
