@import '../../css/variables.css';

/* .sezy-input{
    &{
        outline: none;
        border: 1px solid #cdcdcd;
        border-radius: .125rem;
        transition-duration: .15s;
        transition-property: border outline;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    }
    &:hover{
        border: 1px solid red;
    }
} */

.sezy-input-disabled{
    background-color: var(--input-disabled-background-color);
    border:1px solid var(--input-disabled-border-color);
    color: var(--input-disabled-text-color);
    cursor: not-allowed;
}

.sezy-input{
    &{
        outline: none;
        border: 1px solid #cdcdcd;
        border-radius: .125rem;
        transition-duration: .15s;
        transition-property: border outline;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    }
    &:hover{
        border: 1px solid red;
    }
    /* @apply outline-none border border-solid border-gray-400 rounded-sm focus:ring-1 hover:border-blue-500 focus:border-blue-500 box-border; */
}

.sezy-input-{
    &s{
        padding-x: 0.25rem;
        padding-y: 0.25rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    &m{
        padding-x: 0.5rem;
        padding-y: 0.375rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    &l{
        padding-x: 0.75rem;
        padding-y: 0.625rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}

/* 'outline-none border border-solid border-gray-400 radius-1 focus:ring-1 hover:border-blue-500 focus:border-blue-500 box-border', */