.sezy-checkbox {
  & {
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    display: inline-block;
    vertical-align:middle;
  }
}

.sezy-checkbox-outline {
  & {
    box-shadow: inset 0px 0px 0px 1px var(--border-color);
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
  }
  &:hover,
  &[active] {
    box-shadow: inset 0px 0px 0px 1px var(--border-active-color);
    color: var(--border-active-color);
  }
}
.sezy-checkbox-flat {
  & {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
  }
  &:hover {
    background-color: var(--bg-active-color);
    color: var(--checkbox-active-text-color);
  }
}

.sezy-checkbox- {
  &s {
    & {
      height: 1.6rem;
      line-height: 1.6rem;
      width: 1.6rem;
      font-size: 1.2rem;
      text-align: center;
    }
  }
  &m {
    & {
      height: 2rem;
      line-height: 2rem;
      width: 2rem;
      font-size: 1.4rem;
      text-align: center;
    }
  }
  &l {
    & {
      height: 2.4rem;
      line-height: 2.4rem;
      width: 2.4rem;
      font-size: 1.7em;
      text-align: center;
    }
  }
}
