.sezy-datepicker {
  & {
    cursor: pointer;
    box-sizing: border-box;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  & th,
  td {
    padding: 0;
    /* transition: color 0.38s, background-color 0.38s; */
  }
}
.sezy-datepicker-outline {
}
.sezy-datepicker-flat {
  & .sezy-datepicker-box {
    box-shadow: 0 4px 8px rgb(55 66 77 / 20%);
  }
}

.sezy-datepicker-box {
  display: none;
  position: absolute;
  background: white;
  z-index: 500;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
.sezy-datepicker-open {
  display: block;
}

/* .sezy-datepicker-active-to > span {
  display:inline-block;
  color: #fff;
  background: var(--primary-color);
  border-radius: 50%;
  text-align:center;
} */
.sezy-datepicker-active-to {
  position: relative;
  color: #fff;
}
.sezy-datepicker-active-to:before {
  content: '';
  background: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.sezy-datepicker-menu {
  display: flex;
  justify-content: space-between;
}
.sezy-datepicker-monthyear {
  font-weight: bold;
  vertical-align: middle;
}
.sezy-datepicker-monthyear-picker {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  display: none;
}
.sezy-datepicker-monthyear-picker > * {
  flex-basis: 33.33%;
  text-align: center;
  transition: background-color 0.5s;
}
.sezy-datepicker-monthyear-picker > *:hover,
.sezy-datepicker-monthyear-picker-active {
  background: var(--primary-color);
  color: #fff;
}

.sezy-datepicker-blur {
  color: #00000038 !important;
}
.sezy-datepicker- {
  &s {
    & .sezy-datepicker-active-to:before {
      height: 1.5rem;
      width: 1.5rem;
    }
    & td {
      height: 2rem;
    }
    & .sezy-datepicker-menu {
      margin: 0.6rem 0;
    }
    & .sezy-datepicker-monthyear {
      margin-right: 0.3rem;
    }
    & .sezy-datepicker-monthyear-picker {
      height: calc(100% - 4.5rem);
      padding: 1rem;
    }
    & .sezy-datepicker-monthyear-picker > * {
      border-radius: 0.2rem;
      height: 2rem;
      line-height: 2rem;
    }
    & .sezy-datepicker-prevnext {
      margin-left: 0.6rem;
    }
    & .sezy-datepicker-box {
      padding: 0.6rem;
    }
    & .sezy-datepicker-table {
      width: 16rem;
    }
  }
  &m {
    & .sezy-datepicker-active-to:before {
      height: 1.6rem;
      width: 1.6rem;
    }
    & td {
      height: 2.5rem;
    }
    & .sezy-datepicker-menu {
      margin: 0.8rem 0;
    }
    & .sezy-datepicker-monthyear {
      margin-right: 0.4rem;
    }
    & .sezy-datepicker-monthyear-picker {
      height: calc(100% - 5.5rem);
      padding: 0.8rem;
    }
    & .sezy-datepicker-monthyear-picker > * {
      border-radius: 0.25rem;
      height: 2.5rem;
      line-height: 2.5rem;
    }
    & .sezy-datepicker-prevnext {
      margin-left: 0.8rem;
    }
    & .sezy-datepicker-box {
      padding: 0.8rem;
    }
    & .sezy-datepicker-table {
      width: 20rem;
    }
  }
  &l {
    & .sezy-datepicker-active-to:before {
      height: 2.1rem;
      width: 2.1rem;
    }
    & td {
      height: 3rem;
    }
    & .sezy-datepicker-menu {
      margin: 1rem 0;
    }
    & .sezy-datepicker-monthyear {
      margin-right: 0.5rem;
    }
    & .sezy-datepicker-monthyear-picker {
      height: calc(100% - 6.5rem);
      padding: 1rem;
    }
    & .sezy-datepicker-monthyear-picker > * {
      border-radius: 0.3rem;
      height: 3rem;
      line-height: 3rem;
    }
    & .sezy-datepicker-prevnext {
      margin-left: 1rem;
    }
    & .sezy-datepicker-box {
      padding: 1rem;
    }
    & .sezy-datepicker-table {
      width: 24rem;
    }
  }
}

.sezy-datepicker-monthyear-shown {
  display: flex;
}
