@import '../../css/variables.css';

.sezy-button {
  & {
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    user-select: none;
    white-space: nowrap;
    transition: opacity 0.5s, background-color 0.5s, color 0.3s, box-shadow 0.5s;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.3;
  }
  &:disabled {
    box-shadow: none;
    border: 1px solid var(--border-disabled-color);
    background-color: var(--bg-disabled-color);
    color: var(--text-disabled-color);
    pointer-events:none;
  }
}

.sezy-button-outline {
  & {
    box-shadow: inset 0px 0px 0px 1px var(--border-color);
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
  }
  &:hover,&[active] {
    box-shadow: inset 0px 0px 0px 1px var(--border-active-color);
    color: var(--border-active-color);
  }
}
.sezy-button-flat {
  & {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
  }
  &:hover {
    background-color: var(--bg-active-color);
    color: var(--button-active-text-color);
  }
}

.sezy-button- {
  &s {
    & {
      padding: 0.25rem 0.65rem;
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }
  &m {
    & {
      padding: 0.375rem 0.8rem;
      font-size: 0.9rem;
      line-height: 1.1rem;
    }
  }
  &l {
    & {
      padding: 0.625rem 0.95rem;
      font-size: 1.05rem;
      line-height: 1.2rem;
    }
  }
}
