.sezy-avatar {
  & {
    display: inline-block;
    background-color: #c8c8c8;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
}

.sezy-avatar {
  &-square {
    border-radius: var(--border-radius);
  }
  &-circle {
    border-radius: 50%;
  }
}

.sezy-avatar- {
  &s {
    & {
      height: 3.2rem;
      line-height: 3.2rem;
      width: 3.2rem;
      font-size: 1.45rem;
    }
  }
  &m {
    & {
      height: 4rem;
      line-height: 4rem;
      width: 4rem;
      font-size: 1.9rem;
    }
  }
  &l {
    & {
      height: 4.8rem;
      line-height: 4.8rem;
      width: 4.8rem;
      font-size: 2.4rem;
    }
  }
}
