/* @import '../../css/variables.css'; */

.breadcrumbs {
  & {
    display: flex;
  }
  & > a {
    color: var(--text-color);
  }
  & svg {
    fill: var(--text-color) !important;
  }
  & > span {
    color: var(--text-color);
  }
}

.breadcrumbs {
  &-s {
    & > a {
      font-size: 15px;
      margin-right: 6px;
    }
    & > span {
      font-size: 15px;
      margin-right: 6px;
    }
    & > svg {
      margin-right: 6px;
    }
  }
  &-m {
    & > a {
      font-size: 18px;
      margin-right: 8px;
    }
    & > span {
      font-size: 18px;
      margin-right: 8px;
    }
    & > svg {
      margin-right: 8px;
    }
  }
  &-l {
    & > a {
      font-size: 22px;
      margin-right: 10px;
    }
    & > span {
      font-size: 22px;
      margin-right: 10px;
    }
    & > svg {
      margin-right: 10px;
    }
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
}
