.sezy-switch {
  & {
    position:relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    transition: background-color 0.3s, color 0.3s;
    background-color: #b8b8b8;
  }
  &:after {
    content: '';
    /* background-color: red; */
    background-color: #fff;
    position:absolute;
    top:50%;
    left:0;
    transform: translate( 10%, -50%);
    /* width:30%;
    height:95%; */
    padding: 23%;
    border-radius:50%;
    transition: transform 0.3s;
  }
}
.sezy-switch-active {
  &{
    background-color: var(--primary-color);
  }
  &:after {
    transform: translate( 105%, -50%);
  }
}
.sezy-switch- {
  &s {
    & {
      height: 1rem;
      line-height: 1rem;
      border-radius:3.2rem;
      width:3.2rem;
      font-size: 1.2rem;
    }
    & > span {
      margin: 0 -0.32rem 0 0.3rem;
    }
  }
  &m {
    & {
      height: 2.4rem;
      line-height: 2.4rem;
      border-radius:2.75rem;
      width:2.75rem;
      font-size: 1.4rem;
    }
    & > span {
      margin: 0 -0.5rem 0 0.5rem;
    }
  }
  &l {
    & {
      height: 3.2rem;
      line-height: 3.2rem;
      border-radius:3.5rem;
      width:3.5rem;
      font-size: 1.7em;
    }
    & > span {
      margin: 0 -0.4rem 0 0.4rem;
    }
  }
}
