.sezy-toast {
  position:fixed;
  z-index:999;
  &>div{
    border-radius: var(--border-radius);
  }
}
.sezy-toast- {
  &t{
    top:2%;
    left:50%;
    transform:translateX(-50%);
  }
}

.sezy-toast- {
  &dark{
    background: #000000cd;
    color:white;
  }
}

.sezy-toast- {
  &s {
    &>div{
      height: 2.4rem;
      line-height: 2.4rem;
      padding: 0 1.2rem;
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
  }
  &m {
    &>div{
      height: 3.2rem;
      line-height: 3.2rem;
      padding: 0 1.3rem;
      font-size: 1.4rem;
      margin-top: 0.5rem;
    }
  }
  &l {
    &>div{
      height: 4rem;
      line-height: 4rem;
      padding: 0 1.5rem;
      font-size: 1.7em;
      margin-top: 1.8rem;
    }
  }
}
