@import '../../css/variables.css';

.sezy-list {
  & > * {
    display: block;
    user-select: none;
  }
  & > *:last-child {
    border-bottom: none;
  }
  & > *:hover {
  }
}
.sezy-list-default {
  & {
    box-sizing: border-box;
    border: 1px solid var(--list-border-color);
  }
  & > * {
    border-bottom: 1px solid var(--list-border-color);
  }
  & > *:last-child {
    border-bottom: none;
  }
}
.sezy-list-outline {
  & {
    box-sizing: border-box;
  }
  & > * {
    border-bottom: 1px solid var(--list-border-color);
  }
}
.sezy-list-flat {
  & {
    box-sizing: border-box;
  }
  & > * {
    border-bottom: 1px solid var(--list-border-color);
  }
}

/* Size */
.sezy-list-s > * {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.sezy-list-m > * {
  padding: 0.375rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.sezy-list-l > * {
  padding: 0.625rem 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
