.sezy-effect-shimmer {
  background: var(--shimmer-background);
  background-image: var(--shimmer-background-image);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -48rem 0;
  }

  100% {
    background-position: 48rem 0;
  }
}
