.sezy-badge-wrapper {
  position: relative;
  display: inline-block;
}
.sezy-badge {
  & {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: #f14e50;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
  }
}

.sezy-badge- {
  &s {
    & {
      min-width: 1.4rem;
      height: 1.4rem;
      line-height: 1.4rem;
      border-radius: 1.4rem;
      font-size: 1rem;
      padding: 0px 0.2rem;
    }
    & > span {
      margin: 0 -0.3rem 0 0.3rem;
    }
  }
  &m {
    & {
      min-width: 1.8rem;
      height: 1.8rem;
      line-height: 1.8rem;
      border-radius: 1.8rem;
      font-size: 1.1rem;
      padding: 0px 0.4rem;
    }
    & > span {
      margin: 0 -0.5rem 0 0.5rem;
    }
  }
  &l {
    & {
      min-width: 2rem;
      height: 2rem;
      line-height: 2rem;
      border-radius: 2rem;
      font-size: 1.3rem;
      padding: 0px 0.6rem;
    }
    & > span {
      margin: 0 -0.6rem 0 0.6rem;
    }
  }
}
