.sezy-dropdown {
  & {
    display: inline-block;
    position: relative;
    user-select: none;
    box-sizing: border-box;
  }
}
.sezy-dropdown-list {
  position: absolute;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  background: #fff;
  z-index: 500;
  min-width: 100%;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgb(55 66 77 / 20%);
}
.sezy-dropdown-list > * {
  white-space: nowrap;
  cursor: pointer;
}
.sezy-dropdown-list > *:hover {
  background-color: #00000010;
}

.sezy-dropdown-hover:hover,
.sezy-dropdown-active {
  & > .sezy-dropdown-list {
    visibility: visible;
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
}
/* 
.sezy-dropdown-outline {
  & > .sezy-dropdown-button {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  &:hover > .sezy-dropdown-button {
    border: 1px solid 0px 0px 0px 1px var(--border-active-color);
    box-shadow: 0px 0px 2px 1px var(--border-active-color) 88;
    z-index: 1;
  }
}
.sezy-dropdown-flat {
  & > .sezy-dropdown-button {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--border-color);
  }
  &:hover > .sezy-dropdown-button {
    border: 1px solid var(--border-active-color);
    color: var(--button-active-text-color);
    box-shadow: 0px 0px 2px 1px var(--border-active-color) 88;
    z-index: 1;
  }
}

.sezy-dropdown-s {
  & > .sezy-dropdown-button {
    & {
      height: 2.4rem;
      line-height: 2.4rem;
      padding: 0 0.9rem;
      font-size: 1.2rem;
    }
    & > .sezy-dropdown-caret {
      right: 0.5rem;
    }
  }
}
.sezy-dropdown-m {
  & > .sezy-dropdown-button {
    & {
      height: 3.2rem;
      line-height: 3.2rem;
      padding: 0 1.2rem;
      font-size: 1.4rem;
    }
    & > .sezy-dropdown-caret {
      right: 1rem;
    }
  }
}
.sezy-dropdown-l {
  & > .sezy-dropdown-button {
    & {
      height: 4rem;
      line-height: 4rem;
      padding: 0 1.5rem;
      font-size: 1.7rem;
    }
    & > .sezy-dropdown-caret {
      right: 1.8rem;
    }
  }
} */

.sezy-dropdown-placement- {
  &t > .sezy-dropdown-list {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  &tr > .sezy-dropdown-list {
    top: 0;
    right: 0;
    transform: translate(0, -100%);
  }
  &tl > .sezy-dropdown-list {
    top: 0;
    left: 0%;
    transform: translate(0, -100%);
  }
  &r > .sezy-dropdown-list {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
  }
  &rt > .sezy-dropdown-list {
    top: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &rb > .sezy-dropdown-list {
    bottom: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &b > .sezy-dropdown-list {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  &br > .sezy-dropdown-list {
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
  }
  &bl > .sezy-dropdown-list {
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
  }
  &l > .sezy-dropdown-list {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
  }
  &lt > .sezy-dropdown-list {
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
  &lb > .sezy-dropdown-list {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
}

.sezy-dropdown-disabled {
  & > .sezy-dropdown-button {
    background-color: var(--background-disabled-color);
    border: 1px solid var(--border-disabled-color);
    color: var(--text-disabled-color);
    cursor: default;
  }
  &:hover > .sezy-dropdown-button {
    background-color: var(--background-disabled-color);
    border: 1px solid var(--border-disabled-color);
    color: var(--text-disabled-color);
  }
}
