@import '../../css/variables.css';

.sezy-dropdown {
  & {
    position: relative;
    user-select: none;
  }
  & > .sezy-list {
    background: white;
    z-index: 500;
    min-width: 100%;
  }
  & > .sezy-list > * {
    white-space: nowrap;
    cursor: pointer;
  }
}
.sezy-dropdown-button {
  & {
    cursor: pointer;
  }
  & > .sezy-dropdown-caret {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.sezy-dropdown-button:hover {
}

.sezy-dropdown-default {
  & > .sezy-dropdown-button {
    border: 1px solid var(--dropdown-border-color);
  }
}

.sezy-dropdown-outline {
  & > .sezy-dropdown-button {
    border: 1px solid var(--dropdown-border-color);
  }
}

.sezy-dropdown-flat > .sezy-dropdown-button {
  /* background-color: var(--dropdown-active-background-color); */
  /* border:1px solid var(--dropdown-active-border-color); */
  color: var(--dropdown-text-color);
}

.sezy-dropdown-active,
.sezy-dropdown-default:hover,
.sezy-dropdown-flat:hover {
  /* background-color: var(--dropdown-active-background-color);
    border:1px solid var(--dropdown-active-border-color);
    color: var(--dropdown-active-text-color); */
}

/* Size */
.sezy-dropdown-size-s > {
  & > .sezy-dropdown-button {
    & {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    & > .sezy-dropdown-caret {
      right: 0.4rem;
    }
  }
}
.sezy-dropdown-size-m {
  & > .sezy-dropdown-button {
    & {
      padding: 0.375rem 1rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    & > .sezy-dropdown-caret {
      right: 0.8rem;
    }
  }
}
.sezy-dropdown-size-l {
  & > .sezy-dropdown-button {
    & {
      padding: 0.625rem 1rem;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
    & > .sezy-dropdown-caret {
      right: 1.2rem;
    }
  }
}

.sezy-dropdown > .sezy-list {
  position: absolute;
}
.sezy-dropdown-placement- {
  &t > .sezy-list {
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  &tr > .sezy-list {
    top: 0;
    right: 0;
    transform: translate(0, -100%);
  }
  &tl > .sezy-list {
    top: 0;
    left: 0%;
    transform: translate(0, -100%);
  }
  &r > .sezy-list {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
  }
  &rt > .sezy-list {
    top: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &rb > .sezy-list {
    bottom: 0;
    right: 0;
    transform: translate(100%, 0);
  }
  &b > .sezy-list {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }
  &br > .sezy-list {
    bottom: 0;
    right: 0;
    transform: translate(0, 100%);
  }
  &bl > .sezy-list {
    left: 0;
    right: 0;
    transform: translate(0, 100%);
  }
  &l > .sezy-list {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
  }
  &lt > .sezy-list {
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
  &lb > .sezy-list {
    bottom: 0;
    left: 0;
    transform: translate(-100%, 0);
  }
}

.sezy-dropdown-disabled {
  background-color: var(--dropdown-disabled-background-color);
  border: 1px solid var(--dropdown-disabled-border-color);
  color: var(--dropdown-disabled-text-color);
  cursor: not-allowed;
}
