@import '../../css/variables.css';

.sezy-dropdown{
    &{
        position:relative;
        /* display:inline-block; */
        user-select: none;
    }
    &>.sezy-list>*{
        white-space: nowrap;
        cursor:pointer;
    }
    &>.sezy-list>*{
        white-space: nowrap;
        cursor:pointer;
    }
}
.sezy-dropdown-button{
    /* display:inline-block;
    cursor:pointer; */
}
.sezy-dropdown-button:hover{

}

.sezy-dropdown-default{
    &>.sezy-dropdown-button{
        border:1px solid var(--dropdown-border-color);
    }
}

.sezy-dropdown-outline{
    &>.sezy-dropdown-button{
        border:1px solid var(--dropdown-border-color);
    }
}

.sezy-dropdown-flat>.sezy-dropdown-button{
    /* background-color: var(--dropdown-active-background-color); */
    /* border:1px solid var(--dropdown-active-border-color); */
    color: var(--dropdown-text-color);
}


.sezy-dropdown-active,.sezy-dropdown-default:hover,.sezy-dropdown-flat:hover{
    /* background-color: var(--dropdown-active-background-color);
    border:1px solid var(--dropdown-active-border-color);
    color: var(--dropdown-active-text-color); */
}

/* Size */
.sezy-dropdown-size-s>{
    &>.sezy-dropdown-button {
        &{
            height: 30px;
            line-height: 30px;
            padding-left: 12px;
            padding-right: 12px;
            font-size: 12.5px;
        }
        &>.sezy-dropdown-caret {
            margin-left:8px;
        }
    }
}
.sezy-dropdown-size-m{
    &>.sezy-dropdown-button {
        &{
            height: 40px;
            line-height: 40px;
            padding-left: 18px;
            padding-right: 18px;
            font-size: 15px;
        }
        &>.sezy-dropdown-caret {
            margin-left:12px;
        }
    }
}
.sezy-dropdown-size-l{
    &>.sezy-dropdown-button {
        &{
            height: 50px;
            line-height: 50px;
            padding-left: 22px;
            padding-right: 22px;
            font-size: 18px;
        }
        &>.sezy-dropdown-caret {
            margin-left:18px;
        }
    }
}


.sezy-dropdown > .sezy-list{
    position:absolute;
}
.sezy-dropdown-placement-{
    &t > .sezy-list{
        top:0;
        left:50%;
        transform:translate(-50%,-100%);
    }
    &tr > .sezy-list{
        top:0;
        right:0;
        transform:translate(0,-100%);
    }
    &tl > .sezy-list{
        top:0;
        left:0%;
        transform:translate(0,-100%);
    }
    &r > .sezy-list{
        top:50%;
        right:0;
        transform:translate(100%,-50%);
    }
    &rt > .sezy-list{
        top:0;
        right:0;
        transform:translate(100%,0);
    }
    &rb > .sezy-list{
        bottom:0;
        right:0;
        transform:translate(100%,0);
    }
    &b > .sezy-list{
        bottom:0;
        left:50%;
        transform:translate(-50%,100%);
    }
    &br > .sezy-list{
        bottom:0;
        right:0;
        transform:translate(0,100%);
    }
    &bl > .sezy-list{
        left:0;
        right:0;
        transform:translate(0,100%);
    }
    &l > .sezy-list{
        top:50%;
        left:0;
        transform:translate(-100%,-50%);
    }
    &lt > .sezy-list{
        top:0;
        left:0;
        transform:translate(-100%,0);
    }
    &lb > .sezy-list{
        bottom:0;
        left:0;
        transform:translate(-100%,0);
    }
}


.sezy-dropdown-disabled{
    background-color: var(--dropdown-disabled-background-color);
    border:1px solid var(--dropdown-disabled-border-color);
    color: var(--dropdown-disabled-text-color);
    cursor: not-allowed;
}
