.sezy-row{
  display: flex;
  flex-flow: row wrap;
}
.sezy-row > *{
  display:block;
  box-sizing: border-box;
}

.sezy-row-1 > *{flex:0 0 100%;max-width:100%}
.sezy-row-2 > *{lex:0 0 50%;max-width:50%}
.sezy-row-3 > *{lex:0 0 33.33333333%;max-width:33.33333333%}
.sezy-row-4 > *{lex:0 0 25%;max-width:25%}
.sezy-row-5 > *{lex:0 0 20%;max-width:20%}
.sezy-row-6 > *{lex:0 0 16.66666667%;max-width:16.66666667%}
.sezy-row-7 > *{lex:0 0 14.2857143%;max-width:14.2857143%}
.sezy-row-8 > *{lex:0 0 12.5%;max-width:12.5%}