.sezy-tag {
  & {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    box-sizing: border-box;
    vertical-align: middle;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  & > span {
    display: none;
  }
  &:hover > span {
    display: inline-block;
  }
}

.sezy-tag-outline {
  & {
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
  }
}
.sezy-tag-flat {
  & {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
  }
}

.sezy-tag- {
  &s1 {
    & {
      height: 1rem;
      line-height: 1rem;
      padding: 0 0.9rem;
      font-size: 1rem;
    }
    & > span {
      margin: 0 -0.1rem 0 0.1rem;
    }
  }
  &s {
    & {
      height: 2.4rem;
      line-height: 2.4rem;
      padding: 0 1.2rem;
      font-size: 1.2rem;
    }
    & > span {
      margin: 0 -0.32rem 0 0.3rem;
    }
  }
  &m {
    & {
      height: 3.2rem;
      line-height: 3.2rem;
      padding: 0 1.3rem;
      font-size: 1.4rem;
    }
    & > span {
      margin: 0 -0.5rem 0 0.5rem;
    }
  }
  &l {
    & {
      height: 4rem;
      line-height: 4rem;
      padding: 0 1.5rem;
      font-size: 1.7rem;
    }
    & > span {
      margin: 0 -0.4rem 0 0.4rem;
    }
  }
}
