
.sezy-icon {
  & {
    vertical-align: middle;
    fill: var(--text-color);
    user-select: none;
  }
  &[disabled] {
    fill: var(--text-disabled-color);
    pointer-events:none;
    user-select: none;
  }
}
/* .sezy-icon > * {
  fill: inherit;
} */
.sezy-icon- {
  &s2 {
    width: 0.4rem;
  }
  &s1 {
    width: 0.8rem;
  }
  &s {
    width: 1.2rem;
  }
  &m {
    width: 1.6rem;
  }
  &l {
    width: 2rem;
  }
  &l1 {
    width: 2.4rem;
  }
  &l2 {
    width: 2.8rem;
  }
  &l3 {
    width: 3.2rem;
  }
  &l4 {
    width: 3.6rem;
  }
}
