
.sezy-col{
    max-width: initial;
}
.sezy-col{
    &-24{flex:0 0 100%;width:100%}
    &-23{flex:0 0 95.83333333%;width:95.83333333%}
    &-22{flex:0 0 91.66666667%;width:91.66666667%}
    &-21{flex:0 0 87.5%;width:87.5%}
    &-20{flex:0 0 83.33333333%;width:83.33333333%}
    &-19{flex:0 0 79.16666667%;width:79.16666667%}
    &-18{flex:0 0 75%;width:75%}
    &-17{flex:0 0 70.83333333%;width:70.83333333%}
    &-16{flex:0 0 66.66666667%;width:66.66666667%}
    &-15{flex:0 0 62.5%;width:62.5%}
    &-14{flex:0 0 58.33333333%;width:58.33333333%}
    &-13{flex:0 0 54.16666667%;width:54.16666667%}
    &-12{flex:0 0 50%;width:50%}
    &-11{flex:0 0 45.83333333%;width:45.83333333%}
    &-10{flex:0 0 41.66666667%;width:41.66666667%}
    &-9{flex:0 0 37.5%;width:37.5%}
    &-8{flex:0 0 33.33333333%;width:33.33333333%}
    &-7{flex:0 0 29.16666667%;width:29.16666667%}
    &-6{flex:0 0 25%;width:25%}
    &-5{flex:0 0 20.83333333%;width:20.83333333%}
    &-4{flex:0 0 16.66666667%;width:16.66666667%}
    &-3{flex:0 0 12.5%;width:12.5%}
    &-2{flex:0 0 8.33333333%;width:8.33333333%}
    &-1{flex:0 0 4.16666667%;width:4.16666667%}
}

@media (--xs) {
    .sezy-col-xs{
        &-24{flex:0 0 100%;width:100%}
        &-23{flex:0 0 95.83333333%;width:95.83333333%}
        &-22{flex:0 0 91.66666667%;width:91.66666667%}
        &-21{flex:0 0 87.5%;width:87.5%}
        &-20{flex:0 0 83.33333333%;width:83.33333333%}
        &-19{flex:0 0 79.16666667%;width:79.16666667%}
        &-18{flex:0 0 75%;width:75%}
        &-17{flex:0 0 70.83333333%;width:70.83333333%}
        &-16{flex:0 0 66.66666667%;width:66.66666667%}
        &-15{flex:0 0 62.5%;width:62.5%}
        &-14{flex:0 0 58.33333333%;width:58.33333333%}
        &-13{flex:0 0 54.16666667%;width:54.16666667%}
        &-12{flex:0 0 50%;width:50%}
        &-11{flex:0 0 45.83333333%;width:45.83333333%}
        &-10{flex:0 0 41.66666667%;width:41.66666667%}
        &-9{flex:0 0 37.5%;width:37.5%}
        &-8{flex:0 0 33.33333333%;width:33.33333333%}
        &-7{flex:0 0 29.16666667%;width:29.16666667%}
        &-6{flex:0 0 25%;width:25%}
        &-5{flex:0 0 20.83333333%;width:20.83333333%}
        &-4{flex:0 0 16.66666667%;width:16.66666667%}
        &-3{flex:0 0 12.5%;width:12.5%}
        &-2{flex:0 0 8.33333333%;width:8.33333333%}
        &-1{flex:0 0 4.16666667%;width:4.16666667%}
    }
}

@media (--sm) {
    .sezy-col-sm{
        &-24{flex:0 0 100%;width:100%}
        &-23{flex:0 0 95.83333333%;width:95.83333333%}
        &-22{flex:0 0 91.66666667%;width:91.66666667%}
        &-21{flex:0 0 87.5%;width:87.5%}
        &-20{flex:0 0 83.33333333%;width:83.33333333%}
        &-19{flex:0 0 79.16666667%;width:79.16666667%}
        &-18{flex:0 0 75%;width:75%}
        &-17{flex:0 0 70.83333333%;width:70.83333333%}
        &-16{flex:0 0 66.66666667%;width:66.66666667%}
        &-15{flex:0 0 62.5%;width:62.5%}
        &-14{flex:0 0 58.33333333%;width:58.33333333%}
        &-13{flex:0 0 54.16666667%;width:54.16666667%}
        &-12{flex:0 0 50%;width:50%}
        &-11{flex:0 0 45.83333333%;width:45.83333333%}
        &-10{flex:0 0 41.66666667%;width:41.66666667%}
        &-9{flex:0 0 37.5%;width:37.5%}
        &-8{flex:0 0 33.33333333%;width:33.33333333%}
        &-7{flex:0 0 29.16666667%;width:29.16666667%}
        &-6{flex:0 0 25%;width:25%}
        &-5{flex:0 0 20.83333333%;width:20.83333333%}
        &-4{flex:0 0 16.66666667%;width:16.66666667%}
        &-3{flex:0 0 12.5%;width:12.5%}
        &-2{flex:0 0 8.33333333%;width:8.33333333%}
        &-1{flex:0 0 4.16666667%;width:4.16666667%}
    }
}

@media (--md) {
    .sezy-col-md{
        &-24{flex:0 0 100%;width:100%}
        &-23{flex:0 0 95.83333333%;width:95.83333333%}
        &-22{flex:0 0 91.66666667%;width:91.66666667%}
        &-21{flex:0 0 87.5%;width:87.5%}
        &-20{flex:0 0 83.33333333%;width:83.33333333%}
        &-19{flex:0 0 79.16666667%;width:79.16666667%}
        &-18{flex:0 0 75%;width:75%}
        &-17{flex:0 0 70.83333333%;width:70.83333333%}
        &-16{flex:0 0 66.66666667%;width:66.66666667%}
        &-15{flex:0 0 62.5%;width:62.5%}
        &-14{flex:0 0 58.33333333%;width:58.33333333%}
        &-13{flex:0 0 54.16666667%;width:54.16666667%}
        &-12{flex:0 0 50%;width:50%}
        &-11{flex:0 0 45.83333333%;width:45.83333333%}
        &-10{flex:0 0 41.66666667%;width:41.66666667%}
        &-9{flex:0 0 37.5%;width:37.5%}
        &-8{flex:0 0 33.33333333%;width:33.33333333%}
        &-7{flex:0 0 29.16666667%;width:29.16666667%}
        &-6{flex:0 0 25%;width:25%}
        &-5{flex:0 0 20.83333333%;width:20.83333333%}
        &-4{flex:0 0 16.66666667%;width:16.66666667%}
        &-3{flex:0 0 12.5%;width:12.5%}
        &-2{flex:0 0 8.33333333%;width:8.33333333%}
        &-1{flex:0 0 4.16666667%;width:4.16666667%}
    }
}
  

@media (--lg) {
    .sezy-col-lg{
        &-24{flex:0 0 100%;width:100%}
        &-23{flex:0 0 95.83333333%;width:95.83333333%}
        &-22{flex:0 0 91.66666667%;width:91.66666667%}
        &-21{flex:0 0 87.5%;width:87.5%}
        &-20{flex:0 0 83.33333333%;width:83.33333333%}
        &-19{flex:0 0 79.16666667%;width:79.16666667%}
        &-18{flex:0 0 75%;width:75%}
        &-17{flex:0 0 70.83333333%;width:70.83333333%}
        &-16{flex:0 0 66.66666667%;width:66.66666667%}
        &-15{flex:0 0 62.5%;width:62.5%}
        &-14{flex:0 0 58.33333333%;width:58.33333333%}
        &-13{flex:0 0 54.16666667%;width:54.16666667%}
        &-12{flex:0 0 50%;width:50%}
        &-11{flex:0 0 45.83333333%;width:45.83333333%}
        &-10{flex:0 0 41.66666667%;width:41.66666667%}
        &-9{flex:0 0 37.5%;width:37.5%}
        &-8{flex:0 0 33.33333333%;width:33.33333333%}
        &-7{flex:0 0 29.16666667%;width:29.16666667%}
        &-6{flex:0 0 25%;width:25%}
        &-5{flex:0 0 20.83333333%;width:20.83333333%}
        &-4{flex:0 0 16.66666667%;width:16.66666667%}
        &-3{flex:0 0 12.5%;width:12.5%}
        &-2{flex:0 0 8.33333333%;width:8.33333333%}
        &-1{flex:0 0 4.16666667%;width:4.16666667%}
    }
}
  

@media (--xs) {
    .sezy-col-xs{
        &-24{flex:0 0 100%;width:100%}
        &-23{flex:0 0 95.83333333%;width:95.83333333%}
        &-22{flex:0 0 91.66666667%;width:91.66666667%}
        &-21{flex:0 0 87.5%;width:87.5%}
        &-20{flex:0 0 83.33333333%;width:83.33333333%}
        &-19{flex:0 0 79.16666667%;width:79.16666667%}
        &-18{flex:0 0 75%;width:75%}
        &-17{flex:0 0 70.83333333%;width:70.83333333%}
        &-16{flex:0 0 66.66666667%;width:66.66666667%}
        &-15{flex:0 0 62.5%;width:62.5%}
        &-14{flex:0 0 58.33333333%;width:58.33333333%}
        &-13{flex:0 0 54.16666667%;width:54.16666667%}
        &-12{flex:0 0 50%;width:50%}
        &-11{flex:0 0 45.83333333%;width:45.83333333%}
        &-10{flex:0 0 41.66666667%;width:41.66666667%}
        &-9{flex:0 0 37.5%;width:37.5%}
        &-8{flex:0 0 33.33333333%;width:33.33333333%}
        &-7{flex:0 0 29.16666667%;width:29.16666667%}
        &-6{flex:0 0 25%;width:25%}
        &-5{flex:0 0 20.83333333%;width:20.83333333%}
        &-4{flex:0 0 16.66666667%;width:16.66666667%}
        &-3{flex:0 0 12.5%;width:12.5%}
        &-2{flex:0 0 8.33333333%;width:8.33333333%}
        &-1{flex:0 0 4.16666667%;width:4.16666667%}
    }
}
  

@media (--xl) {
    .sezy-col-xl{
        &-24{flex:0 0 100%;width:100%}
        &-23{flex:0 0 95.83333333%;width:95.83333333%}
        &-22{flex:0 0 91.66666667%;width:91.66666667%}
        &-21{flex:0 0 87.5%;width:87.5%}
        &-20{flex:0 0 83.33333333%;width:83.33333333%}
        &-19{flex:0 0 79.16666667%;width:79.16666667%}
        &-18{flex:0 0 75%;width:75%}
        &-17{flex:0 0 70.83333333%;width:70.83333333%}
        &-16{flex:0 0 66.66666667%;width:66.66666667%}
        &-15{flex:0 0 62.5%;width:62.5%}
        &-14{flex:0 0 58.33333333%;width:58.33333333%}
        &-13{flex:0 0 54.16666667%;width:54.16666667%}
        &-12{flex:0 0 50%;width:50%}
        &-11{flex:0 0 45.83333333%;width:45.83333333%}
        &-10{flex:0 0 41.66666667%;width:41.66666667%}
        &-9{flex:0 0 37.5%;width:37.5%}
        &-8{flex:0 0 33.33333333%;width:33.33333333%}
        &-7{flex:0 0 29.16666667%;width:29.16666667%}
        &-6{flex:0 0 25%;width:25%}
        &-5{flex:0 0 20.83333333%;width:20.83333333%}
        &-4{flex:0 0 16.66666667%;width:16.66666667%}
        &-3{flex:0 0 12.5%;width:12.5%}
        &-2{flex:0 0 8.33333333%;width:8.33333333%}
        &-1{flex:0 0 4.16666667%;width:4.16666667%}
    }
}
  

@media (--xxl) {
    .sezy-col-xxl{
        &-24{flex:0 0 100%;width:100%}
        &-23{flex:0 0 95.83333333%;width:95.83333333%}
        &-22{flex:0 0 91.66666667%;width:91.66666667%}
        &-21{flex:0 0 87.5%;width:87.5%}
        &-20{flex:0 0 83.33333333%;width:83.33333333%}
        &-19{flex:0 0 79.16666667%;width:79.16666667%}
        &-18{flex:0 0 75%;width:75%}
        &-17{flex:0 0 70.83333333%;width:70.83333333%}
        &-16{flex:0 0 66.66666667%;width:66.66666667%}
        &-15{flex:0 0 62.5%;width:62.5%}
        &-14{flex:0 0 58.33333333%;width:58.33333333%}
        &-13{flex:0 0 54.16666667%;width:54.16666667%}
        &-12{flex:0 0 50%;width:50%}
        &-11{flex:0 0 45.83333333%;width:45.83333333%}
        &-10{flex:0 0 41.66666667%;width:41.66666667%}
        &-9{flex:0 0 37.5%;width:37.5%}
        &-8{flex:0 0 33.33333333%;width:33.33333333%}
        &-7{flex:0 0 29.16666667%;width:29.16666667%}
        &-6{flex:0 0 25%;width:25%}
        &-5{flex:0 0 20.83333333%;width:20.83333333%}
        &-4{flex:0 0 16.66666667%;width:16.66666667%}
        &-3{flex:0 0 12.5%;width:12.5%}
        &-2{flex:0 0 8.33333333%;width:8.33333333%}
        &-1{flex:0 0 4.16666667%;width:4.16666667%}
    }
}
  